.chipContainer {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background:
        linear-gradient(rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95));
  border-radius: 1.5rem;
  color:#fff;
}

.category {
  margin-bottom: 1rem;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.event_card h2 {
  margin-top: 0;
}

.event_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.event_card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  /* background: linear-gradient(180deg, #e0e0e0 0%, #b0b0b0 100%); */
  background:
        linear-gradient(rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: #fff;
}
.description {
  background-color: #b0bdc2;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
}
.cardBelow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: #000;
}
.action_buttons {
  background-color: #b0bdc2;
  padding: 0.7rem;
  border-radius: 1rem;
  text-align: center;
  width: 110px;
}

.chip {
  background: #f1f1f1;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  transition: background 0.3s;
}

.chip.selected {
  background: #3d7d92;
  color: #fff;
}

.submitButton {
  padding: 10px 20px;
  background: #3d7d92;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.submitButton:hover {
  background: #1d667e;
}
.joinButton {
  background: #3d7d92;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.joinButton:hover {
  background: #1d667e;
}
.joinButton:disabled {
  background: #6f8890ca;
  cursor:default;
}
.copyLinkButton{
  background: #3d7d92;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.copyLinkButton:hover {
  background: #1d667e;
}
@media only screen and (max-width: 768px) {
  .event_cards {
    grid-template-columns: 1fr 1fr; /* Adjust to 2 columns for tablets */
  }
  .chip,
  .submitButton {
    padding: 8px 16px; /* Smaller padding */
  }
  .event_card {
    padding: 15px; /* Less padding inside the card */
    margin: 5px; /* Less margin */
  }
  .action_buttons {
    flex-direction: column; /* Stack buttons vertically */
    gap: 0.7rem;
  }
}

/* Mobile Phones */
@media only screen and (max-width: 480px) {
  .event_cards {
    grid-template-columns: 1fr;
  }
  .headingMain,
  .heading1,
  .heading2,
  .heading3 {
    font-size: 20px; 
    text-align: center; 
  }
  .description,
  .action_buttons {
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 420px) {
  .event_cards{
    overflow-x: auto;
  }
}
